/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --bg-color: #000028;
  --main-color-text: #F1B2CE;
  --accent-color-text: #FF0070;
  --main-font-size: 18px;
  --padding-page: 10px;
  --main-font: "IBM Plex Mono";
  --main-font-bold: 700;
  --main-font-tiny: 400;
  --decor-color: #000028;
  --decor-bg-color: #FF0070;
  --main-title-color: #DB00FF;
}

.page.theme_dark {
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}




