/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --bg-color: #ffc2e6;
  --main-color-text: #353430;
  --accent-color-text: #353430;
  --main-font-size: 18px;
  --padding-page: 10px;
  --main-font: "IBM Plex Mono";
  --main-font-bold: 700;
  --main-font-tiny: 400;
  --decor-color: #353430;
  --decor-bg-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --rec-display: none;
}

/* Остальные стили */

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.theme_light .rec-decoration {
  display: var(--rec-display);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #ffc2e6;
    --main-color-text: #353430;
    --accent-color-text: #353430;
    --main-font-size: 18px;
    --padding-page: 10px;
    --main-font: "IBM Plex Mono";
    --main-font-bold: 700;
    --main-font-tiny: 400;
    --decor-color: #353430;
    --decor-bg-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --rec-display: none;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .rec-decoration {
    display: var(--rec-display);
  }
}
