/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --bg-color: #fff1f7;
  --main-color-text: #353430;
  --accent-color-text: #353430;
  --decor-color: #353430;
  --decor-bg-color: #ff8dcb;
  --main-title-color: #ffc2e6;
}

/* Остальные стили */

.page.theme_light {
  --rec-display: none;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .rec-decoration {
  display: var(--rec-display);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --main-color-text: #353430;
    --accent-color-text: #353430;
    --decor-color: #353430;
    --decor-bg-color: #ff8dcb;
    --main-title-color: #ffc2e6;
  }

  .page {
    --rec-display: none;
    background-image: url(../images/cover-image-light.png);
  }

  .rec-decoration {
    display: var(--rec-display);
  }
}
